.flex {
  display: flex
}

.flex-column {
  flex-direction: column;
}

.left-bar {
  height: 100vh;
  width: 250px;
  background: #eee;
  border-right: 1px solid #000;
}

.card {
  padding: 8px;
  margin: 8px;
  border: 1px solid #000;
}